<header class="[grid-area:header] w-full h-auto flex justify-between items-center px-5 py-2 bg-white text-black rounded-lg">
    <menu-icon class="cursor-pointer" color="black" [size]="28" />
    <div class="flex items-center justify-center gap-2">
        <user-icon class="my-auto" color="black" [size]="40" />
        <div class="flex flex-col" *ngIf="(currentUser | async) as user">
            <span class="text-base">{{ user.email }}</span>
            <span class="text-xs">{{ user.role }}</span>
        </div>
    </div>
</header>