<h2 class="font-bold text-3xl">User</h2>

<table class="w-full border-spacing-y-2 table border-separate">
    <thead>
        <tr class="bg-slate-100">
            <td class="font-bold py-3 px-4 first:rounded-l-md last:rounded-r-md">Column</td>
            <td class="font-bold py-3 px-4 first:rounded-l-md last:rounded-r-md">Column</td>
            <td class="font-bold py-3 px-4 first:rounded-l-md last:rounded-r-md">Column</td>
            <td class="font-bold py-3 px-4 first:rounded-l-md last:rounded-r-md">Column</td>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-slate-100 my-2">
            <td class="py-3 px-4 first:rounded-l-md last:rounded-r-md">Value</td>
            <td class="py-3 px-4 first:rounded-l-md last:rounded-r-md">Value</td>
            <td class="py-3 px-4 first:rounded-l-md last:rounded-r-md">Value</td>
            <td class="py-3 px-4 first:rounded-l-md last:rounded-r-md">Value</td>
        </tr>
    </tbody>
</table>
