@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    display: grid;
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
    ;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}